<!-- app.component.html -->
<div class="columns-3 text-white font-sans font-black px-5 py-2 m-2">
    <!-- Left Column -->
    <div class="flex items-center justify-start">
        <img src="assets/icons/topbar.droplet.svg" alt="Droplet" class="h-3">
      <span class="ml-1">123</span>
    </div>
    <!-- Middle Column -->
    <div class="flex justify-center">
      <span>April</span>
    </div>
    <!-- Right Column -->
    <div class="flex items-center justify-end">
        <img src="assets/icons/topbar.heart.svg" alt="Heart" class="h-4">
        <span class="ml-1">32</span>
    </div>
  </div>
  