
<div class="h-screen flex flex-col">
    <header class="flex flex-col bg-black">
        <app-topbar></app-topbar>
        <app-calendar></app-calendar>
        <app-notice></app-notice>
        <app-calendar-chart></app-calendar-chart>
    </header>

    <div class="flex-1 overflow-auto w-full scrollbar-hide list-bg-overlay">
        <div class="absolute w-full h-full"></div>
        <app-tasks-list></app-tasks-list>
    </div>

    <footer class="w-full">
        <app-player-bar></app-player-bar>
    </footer>
</div>