<div class="container-fluid py-3">
  <div class="flex my-5">
    <div class="flex-1 text-right">
      Status:
    </div>
    <div class="flex-1">
      <span class="bg-green-500 text-white py-1 px-2 rounded-lg" *ngIf="isOnline">Online</span>
      <span class="bg-red-500 text-white py-1 px-2 rounded-lg" *ngIf="!isOnline">Offline</span>
    </div>
  </div>
</div>

<div class="bg-black">
  <app-topbar></app-topbar>
  <app-calendar></app-calendar>
  <app-calendar-chart></app-calendar-chart>
  <app-tasks-list></app-tasks-list>
  <app-player></app-player>
  <!-- Other content of the app component -->
</div>

<div class="w-full absolute top-0" *ngIf="modalVersion">
  <div class="bg-gray-200 m-2 p-2">
    <button type="button" class="absolute top-0 right-0 m-1" aria-label="Close" (click)="closeVersion()">
      <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
    A new version of this app is available. <a href="" (click)="updateVersion()">Update now</a>
  </div>
</div>

<div class="w-full absolute bottom-0" *ngIf="modalPwaPlatform === 'ANDROID' || modalPwaPlatform === 'IOS'">
  <div class="bg-gray-200 m-2 p-2">
    <button type="button" class="absolute top-0 right-0 m-1" aria-label="Close" (click)="closePwa()">
      <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
    <!-- Android -->
    <div *ngIf="modalPwaPlatform === 'ANDROID'" (click)="addToHomeScreen()">
      Add this WEB app to home screen
    </div>
    <!-- iOS with Safari -->
    <div *ngIf="modalPwaPlatform === 'IOS'">
      To install this WEB app on your device, tap the "Menu" button
      <img src="https://res.cloudinary.com/rodrigokamada/image/upload/v1641089482/Blog/angular-pwa/safari_action_button_38x50.png" class="ios-menu m-0" />
      and then "Add to home screen" button
      <i class="bi bi-plus-square"></i>
    </div>
  </div>
</div>

